
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #111;
}

p{
    color:#fff;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:#fff;
}

#wrapper{
    margin: 0px auto;
    width: 800px;
    height: 650px;
    background-color: inherit;
}

#about-me{
    margin: auto;
    width: 600px;
    height: 400px;
    position: relative;
    top: 0px;
}

#text-tagline{
    text-align: left;
    position: relative;
    top:100px;
    color:#42f4a4;
}

#info-col{
    margin: auto;
    position: relative;
    top:150px;
    background-color: inherit;
    width: 400px;
    height: 100px;
}

#text-main{
    margin: auto;
    font-family: 'Monoton', cursive;
    color:#1cbc87;
    font-size: 72px;
    animation: changetextcolor 5s infinite;
    position: relative;
    top:100px;
}

#expirience-tab{
    width: 100%;
    height: 300px;
    background-color: inherit;
    position: relative;
    top:20px;
}

#expirience-title{
    text-align: left;
    font-family: 'roboto', cursive;
    color:#1cbc87;
    font-size: 20px;
    animation: changetextcolor 5s infinite;

}

#stack-items{
    text-align: center;
    width: 100px;
    height: auto;
    background-color: #271d7f;
    color:#11dd95;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

#stack{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
}

@keyframes changetextcolor {

    0% {
        color:#911cbc;
    }

    20% {
        color:#bc1ca1;
    }

    40%{
        color:#bc1c59;
    }

    60% {
        color:#911cbc;
    }

    80% {
        color:#bc1ca1;
    }

    100%{
        color:#bc1c59;
    }

}


#social{
    margin: auto;
    width: 200px;
    height: 50px;
    position: relative;
    top:120px;
    display: flex;
    flex-direction: row;
    color: #fff;
}

#gap{
    margin-right: 15px;
    font-size: 20px;
}
