


@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|VT323');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body{
    margin: 0px;
    background-color: #dbdde0;
    width: 100%;
    height: 100% auto;
}

h1{
    margin: 0px;
    width: auto;
    font-family: 'Fascinate Inline', cursive;
    font-family: 'VT323', monospace;
    font-size: 100px;
    color: #3bcc7c;
    padding: 5px;
    font-weight: 100;
}

a{
    color:#141521;
    text-decoration: none;
    font-weight:bolder;
}

ul{
    margin: auto;

}

li{
    list-style: none;
    float: right;
    margin: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

p{
    margin: auto;
    width: 350px;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#333;
    position: relative;
    top:25px;

}

.wrapper{
    margin: auto;
    width: 100%;
    height: 800px;
    background-color: #141521;
}

#center-box{
    margin: auto;
    width: 800px;
    height: 500px;
    background-color: inherit;
    position: relative;
    top:100px;
    display: flex;
    flex-direction: row;
}

#greeting-cont{
    width: 200px;
    height: 100%;
    background-color: inherit;
    position: relative;
    left:100px;
}

#about-box{
    width: 400px;
    height: 100%;
    background-color: #fff;
    position: relative;
    left:300px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#img-header{
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 200px;
    background-color: #761523;
    background-image: url("https://image.freepik.com/free-vector/vector-illustration-cosmonaut_1441-11.jpg");
    background-size: cover;
}

#about-me{
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: #eaeaea;
    margin-right: 20px;
    border-top:2px solid #8a33b2;
    color:#8a33b2;
}

#social-link{
    width: 100%;
    height: 100px;
    background-color: #d2d1d3;
}
