
body{
  width: 100%;
  height:100%;
}

.project_box{
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 1px #aaa;
  display: flex;
  flex-direction: row;
  margin: 5px;
  overflow: hidden;
}


.img_box{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #aaa;
  position: relative;
  top:10px;
  left:10px;
  background-image: url('icons/logo.png');
  background-size: 150%;
  background-position: center center;
}

.info_box{
  width: 320px;
  height: 200px;
  background-color: inherit;
}
