
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{

		margin: 0px auto;
		width:100%;
		overflow-x: hidden;

	}

h1{
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Amatic SC', cursive;
	font-weight: 100;
	font-size: 60px;
	color      :#333;
}


h3{
	font-family: 'Amatic SC', cursive;
	font-size  : 30px;
	font-weight: 300;
	color      :#333;
}

p{
	font-family: 'Amatic SC', cursive;
	color: #333;
	font-size: 23px;
}

.header-nav-bar{
	width: 100%;
	height: 30px;
	background-color: #666;
	position: fixed;
	top: 0px;
	background-image: url('images/pink.jpg');
	background-size: cover;
	background-origin: border-box;
}

.wrapper{
		width     :100%;
		height    :100%;
		background-color: #f9f9f9;
}

.cover{
	width: 100%;
	height: 450px;
	background-color: #f9f9f9;

}

.coverbox-left{
	word-break: normal;
	margin-left: 30%;
	width: 400px;
	height: auto;
	padding: 20px;
	float: left;
	background-color: inherit;
}

.cover-text{

}

.my-skills{
	width: 100%;
	height: auto;
}

.skill-box{
	margin-left: 20%;
	width: 700px;
	height: auto;
	padding: 30px;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.skill-item{
	width: 100px;
	height: 100px;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 20px;
	margin-right: 10px;
	background-size: contain;
}

.image-size{
	padding-top: 10px;
	padding-left: 10px;
	width: 70px;
	height: 70px;
	background-position: center;
}

.grad-container{
	width: 100%;
	height: 100px;
	background: linear-gradient(45deg,#7a42f4,#f44162,#f441ee);
	animation: gradanim 10s ease infinite;
}

@keyframes gradanim {
	0% {background-position:0% 57%;background: linear-gradient(45deg,#7a42f4,#f44162,#f441ee);}
	25% {background-position:100% 67%;background: linear-gradient(90deg,#f44162,#f441ee,#7a42f4);}
	50% {background-position:60% 40%;background: linear-gradient(135deg,#7a42f4,#f44162,#f441ee);}
	75% {background-position:40% 80%;background: linear-gradient(90deg,#f44162,#f441ee,#7a42f4);}
	100% {background-position:0% 57%;background: linear-gradient(45deg,#7a42f4,#f44162,#f441ee);}

}



.footer{
	width: 100%;
	height: 30px;
	background-color: #333;
}
