

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato?700')

$color-dark-grey : #252526
$color-black : #000
$red : red
$yellow : yellow
$white : #ffffff
$light-grey : #aaa
$blue : #4b42f4

$grad-purp : linear-gradient(to top, #7028e4 0%, #e5b2ca 100%)

*
  padding: 0px
  margin: 0px
  box-sizing: border-box
  color: $white
  font-family: 'Lato', sans-serif

a
  text-decoration: none

#nav_bar
  padding: 20px 0
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-items: center


.btn-ghost
  width: 120px
  padding: 5px 8px
  border: 2px solid $white
  background-color: none
  font-size: 13px
  text-align: center
  text-transform: lowercase
  letter-spacing: 3px
  cursor: pointer


.fixed
  position: fixed

.top
  top: 30px

.right
  right: 40px

.red
  background-color: $red

.yellow
  background-color: $yellow

.fg-blue
  color: $blue

.bg-blue
  background-color: $blue

.link
  text-decoration: none
  color: $blue
  font-weight: 700

.flex-center-items
  justify-content: center
  align-items: center

.flex-justify
  justify-content: center


.gr-purp
  background-image: $grad-purp

.blob
  cursor: none
  width: 300px
  height: 300px
  background-color: $white
  border-radius: 35% 65% 52% 48% / 51% 60% 40% 49%
  animation: blob-anime 10s infinite

  @keyframes blob-anime
    0%
      border-radius: 100%

    25%
      border-radius: 56% 44% 63% 37% / 39% 60% 40% 61%

    50%
      border-radius: 30% 70% 35% 65% / 30% 30% 70% 70%

    75%
      transform: 56% 44% 63% 37% / 71% 41% 59% 29%

    100%
      border-radius: 100%

.headding
  //font-family: 'Abril Fatface', cursive
  font-size: 40px
  font-weight: 700
  padding: 10px 0

hgroup
  margin: 20px 0
  max-width: 500px

  p
    line-height: 25px
    font-size: 14px
    color: $light-grey

body
  margin: 0px auto
  background-color: $color-black

section
  margin: 0px auto
  //max-width: 1100px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  height: 100vh

  #blob-container
    width: 400px
    height: 500px
    display: flex
    flex-direction: column
    flex-grow: 1

  #content-section
    padding: 30px
    width: 400px
    height: 500px
    display: flex
    flex-direction: column
    flex-grow: 1

#social-section
  display: flex
  flex-direction: row

  a
    margin: 5px 10px

#work-container
  display: none
  //  width: 100%
  //  height: 100v
  z-index: 10
  background-color: $white
  transition: 2s ease
  //border-radius: 30% 70% 58% 42% / 61% 63% 37% 39%
  position: fixed


#work-cont
  display: none
  width: 400px
  height: 400px
  background-color: $color-dark-grey
