
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

body{

		margin: 0px auto;
		width:100%;

	}

h1{
	font-family: 'Ubuntu Condensed', sans-serif;
	color      :#1aed95;
}


h3{

	font-family: 'Julius Sans One', sans-serif;
	font-size  : 23px; 
	color      :#1aed95;
}
		
#wrapper{
		margin    : 0px;
		width     :100%;
		height    :auto;
		box-shadow: 0px 0px 0px #333;
		background-color: #555;
	}



#huge-container-box{
	margin-top    : 0px; 
	width         : 100%;
	height        : 100vh;
	position      : absolute;
	background    : #fbfbfb; 
}

#header-nav-bar{
	margin-top    : 0px; 
	width         : 100%;
	height        : 70px;
	position      : relative;
	top 		  : 0px;
	background    : #000;    
}

#header-font{
	margin-top    : 0px; 
    font-family: 'Julius Sans One', sans-serif;
	font-size     : 20px;
	color 		  : #fff;
	padding-top   : 10px;
	padding-right : 50px;
	text-align    : right;  

}

#main-container{
	width    		: 100%;
	height   		: 100vh;
	/*background-image: url('images/pat.jpg');   */
	background-size : cover;
	background-attachment: fixed;
}

#other-container{
	width  			: 100%;
	height   		: 100vh;
	background      : #18f489;
	background-attachment: fixed;

}

#test-container{
	width  			: 100%;
	height   		: 100vh;
	background      : #37a;
	background-attachment: fixed;

}


#tag-box{
	width          : 300px;
	height         : 300px;
	background     : #fff;
	float          : left;
	padding        : 20px 20px 20px 20px;
	margin-top     : 100px;
	margin-left    : 100px; 
	opacity        : 0.3;        	
}

#about-me{
	width          : auto;
	height         : auto;
	background     : #fbfbfb;
	float          : right;
	padding        : 20px 20px 20px 20px;
	margin-top     : 50px;
	margin-right   : 100px;    
}

#about-text{
    font-family: 'Ubuntu', sans-serif;
	font-size      : 20px;
	color          : #000; 
}

#github-btn{
	transition      : 0.2s; 
	width           : 70px;
	height          : 70px;
	border          : 0px;
	background      : #fff;
	background-image: url('icons/github.svg')
	color           :#fff; 
	cursor          : pointer;
	font-size       : 15px;
        font-family     : 'Julius Sans One', sans-serif;
	border-radius   : 100px;

}

#github-btn:hover{
	background  	: #fbfbfb;
	color           :#fff;
}

#svg-github-icon{
	width           : 50px;
	height          : 50px;
}



